ansible==4.*
pyvmomi
pywinrm
pywinrm[credssp]
requests
hvac
docker
ipaddress
boto
boto3
botocore
pyvmomi
https://github.com/vmware/vsphere-automation-sdk-python/archive/refs/tags/v7.0.3.0.zip
urllib3
future
