ansible>=2.10,<2.11
pyvmomi
pywinrm
pywinrm[kerberos]
pywinrm[credssp]
pykerberos
requests
requests-credssp
hvac
docker
ipaddress
boto
boto3
botocore
pyvmomi
git+https://github.com/vmware/vsphere-automation-sdk-python.git
urllib3
future
netaddr